*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 80%;
  margin: auto;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
}

header{
  border: 8px dotted red;
  margin: 20px;
  padding: 10px;
}

main{
  border: 8px solid red;
  border-radius: 15px 0px 15px 0px;
  margin: 20px;
  padding: 10px;

  /* padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 25px;
  padding-left: 2px; */

  padding: 10px 5px 25px 2px;
}

footer{
  border: 8px solid red;
  border-radius: 0px 15px 0px 15px;
  margin: 20px;
  padding: 10px;
}
